<div class="home-container">
  <div class="left">
    <img src="../../assets/images/island.png" />
  </div>
  <div class="right">
    <h1>Java Islands</h1>
    <h4>Welcome to <span class="java-islands">Java Islands</span>: Where Coding Meets Paradise!</h4>

    <p>Are you ready to embark on a coding adventure like no other? Look no further than <span class="java-islands">Java Islands</span>,
    the ultimate destination for mastering the programming language Java while having a blast!</p>

    <p><span class="java-islands">Java Islands</span> is not your typical coding platform. It's a virtual archipelago where every island
      represents a unique coding challenge. Each island is a step closer to becoming a Java expert.</p>

    <p>Forget the dull, boring tutorials! At <span class="java-islands">Java Islands</span>, you'll learn Java in the most engaging way possible. </p>

    <a routerLink="register"><button>Sign up now!</button></a>
  </div>
</div>

