

h1 {
  font-family: "belarius-poster-wide", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 200%;
  color: #E9E038;
}

.task-header {
  display: flex;
  flex-direction: row;
}

img {
  margin-top: 30px;
  margin-right: 32px;
}

.explanations-container {
  width: 960px;
  margin: 20px auto 0 auto;
}

.explanation-text {
  font-size: 120%;
  font-weight: 400;
  font-family: 'Nunito', sans-serif;
  color: #DBE0E6;
  margin: 32px 0 32px 0;
}

button {
  background-color: #E9E038;
  color: #003360;
  font-size: 120%;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  width: 240px;
  cursor: pointer;
  margin-top: 24px;
}

code {
  font-size: 120%;
  background-color: rgba(0, 0, 0, 0.5);
}





