<div class="login-container main-container">
  <div>

    <img src="../../assets/images/island.png"/>
  </div>
  <div>
    <h2>Login</h2>
<!--  <label>Name:</label>-->
<form>
  <input name="username" [(ngModel)]="credentials.username" placeholder="Username">
<!--  <label>Password:</label>-->
  <input name="password" [(ngModel)]="credentials.password"
         type="password" placeholder="Password">
  <button (click)="sendLogin()">Login</button>
</form>

<div class="login-feedback" *ngIf="info">
  {{ info }}
</div>
  </div>

<!--<h2>Logout</h2>-->
<!--<button (click)="sendLogout()">Click here to logout</button>-->
</div>
